<IfModule mod_rewrite.c>
RewriteEngine On
# Redireciona tudo que não é arquivo existente para index.php (opcional)
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /index.php [L]
</IfModule>
